---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login to see more">
    <main>
        <input type="text" id="password" />
        <button type="submit">Log In</button>
        <small>Be sure to login using the password given to you.</small>
    </main>
</Layout>