---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Login to see more">
    <main>
        <input type="text" id="password" />
        <button type="submit">Log In</button>
    </main>
</Layout>